<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wolf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <!--<script th:src="@{/webjars/jquery/jquery.min.js}" src="/js/jquery-3.3.1.min.js"></script>-->
    <script src="/js/sockjs.min.js"></script>
    <!--<script th:src="@{/webjars/sockjs-client/sockjs.min.js}" src="/js/sockjs.min.js"></script>-->
    <script  src="/js/stomp.min.js"></script>
    <!--<script th:src="@{/webjars/stomp-websocket/stomp.min.js}" src="/js/stomp.min.js"></script>-->
    <script th:src="@{/js/app.js}" src="/js/app.js"></script>
</head>
<body onload="connect()">

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <img href="#" class="navbar-left">
            <h1 class="navbar-brand" href="#">WOLF</h1>
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="starter-template">
        <table class="table" >
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody id="customer">
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.address}"></td>
                <td th:text="${customer.email}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>